:root{
    --colore-testo: #a62e02;
    --font-titoli: font-family: 'Montserrat', sans-serif;
    --font-articoli: font-family: 'Dancing Script', cursive;
    --main-bg-body: #EB2126;
    --font-color-titolo: #38A0EB;
    --font-color-titoloDue: #0362a6;
    --dimensione-testo: 15px;
}