/*
Custom Css
*/
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.titolo_shop_list{
    color: #69bb7e !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    text-decoration: none;
}

/*Login Box*/
.login-box {
    width: 480px;
    margin: auto;
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: #59ab6e;
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 50px;
    border-radius: 20px;
}

.login-box h1 {
    color: #000;
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #59ab6e;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #59ab6e;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.btn_l {
    width: 100%;
    background-color: transparent;
    border: 2px solid #59ab6e;
    color: #59ab6e;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.btn_l:hover {
    background-color: #59ab6e;
    color: #fff;
    transition: .5s;
}

.btn_:active {
    background-color: #000;
    color: #59ab6e;
}

/* Login Box*/