{% extends "base.html" %}
{% load static %}
{% block title %}{{ prodotto.nome }}{% endblock title %}

{% block css_pagine %}
 <!-- Slick -->
 <link rel="stylesheet" type="text/css" href="{% static "css/slick.min.css" %}">
 <link rel="stylesheet" type="text/css" href="{% static "css/slick-theme.css" %}">
{% endblock css_pagine %}

{% block content %}
<div class="container pb-5">
    <div class="row">
        <div class="col-lg-5 mt-5">
            <div class="card mb-3">
                <img class="card-img img-fluid" src="{{ prodotto.img_resize.url }}" alt="Card image cap" id="product-detail">
            </div>
        </div>
        <!-- col end -->
        <div class="col-lg-7 mt-5">

            <div class="card">
                <div class="card-body">
                    <h1 class="h2">{{ prodotto.nome }}</h1>
                    <p class="h3 py-2">{{ prodotto.prezzo }}€</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <h6>Marca:</h6>
                        </li>
                        <li class="list-inline-item">
                            <p class="text-muted"><strong>Easy Wear</strong></p>
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <h6>Categoria:</h6>
                        </li>
                        <li class="list-inline-item">
                            <p class="text-muted"><strong>{{ prodotto.categoria }}</strong></p>
                        </li>
                    </ul>

                    <h6>Descrizione:</h6>
                    <p>{{ prodotto.descrizione|safe }}</p>
                    

                    

                        {% comment %} <div class="row">
                            <div class="col-auto">
                                <ul class="list-inline pb-3">
                                    <li class="list-inline-item text-right">
                                        Quantity
                                        <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                    </li>
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                    <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                </ul>
                            </div>
                        </div> {% endcomment %}
                        <div class="row pb-3">
                            <div class="col d-grid">
                
                            </div>
                            <div class="col d-grid">
                                <form action="{% url "cart:cart_add" prodotto.id %}" method="post">
                                    <tr>
                                        <th><label for="id_quantita">Quantita:</label></th>
                                        <td>
                                          <select name="quantita" id="id_quantita">
                                            {% for i in max_buy  %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                          </select>
                                        </td>
                                    </tr>
                                    <input type="hidden" name="override" id="id_override">
                                    {% csrf_token %}
                                    <input type="submit" value="Aggiungi al carrello" class="btn btn-success btn-lg">
                                </form>
                            </div>
                        </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block related_product %}

<!-- Start Article -->
<section class="py-5">
    <div class="container">
        <div class="row text-left p-2 pb-3">
            <h4>Related Products</h4>
        </div>

        <!--Start Carousel Wrapper-->
        <div id="carousel-related-product">

            {% for pc in prodotti_correlati  %}            

            <div class="p-2 pb-3">
                <div class="product-wap card rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="{{ pc.img_resize.url }}">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="{{ pc.get_absolute_url }}"><i class="far fa-eye"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="{{pc.get_absolute_url}}" class="h3 text-decoration-none">{{ pc.nome }}</a>
                        
                        <p class="text-center mb-0">{{ pc.prezzo }}€</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
<!-- End Article -->

{% endblock related_product %}

{% block js_page %}
 <!-- Start Slider Script -->
 <script src="{% static "js/slick.min.js" %}"></script>
 <script>
     $('#carousel-related-product').slick({
         infinite: true,
         arrows: false,
         slidesToShow: 4,
         slidesToScroll: 3,
         dots: true,
         responsive: [{
                 breakpoint: 1024,
                 settings: {
                     slidesToShow: 3,
                     slidesToScroll: 3
                 }
             },
             {
                 breakpoint: 600,
                 settings: {
                     slidesToShow: 2,
                     slidesToScroll: 3
                 }
             },
             {
                 breakpoint: 480,
                 settings: {
                     slidesToShow: 2,
                     slidesToScroll: 3
                 }
             }
         ]
     });
 </script>
 <!-- End Slider Script -->
{% endblock js_page %}


