{% extends "base.html" %}
{% block title %}Lista prodotti{% endblock title %}

{% block content %}
<div class="row">
    <!--Categoria Sinistra-->
    <div class="col-lg-3">
        <h1 class="h2 pb-4">Categorie</h1>
        <ul class="list-unstyled templatemo-accordion">
            {% for cat in categorie %}
                {% if not cat.categoria_principale %}
                <li><a class="text-decoration-none" href="{{ cat.get_absolute_url }}">{{ cat.nome }}</a></li>    
             
                {% else %}
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="{{ cat.get_absolute_url }}">
                        {{ cat.nome }}
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li> -- <a class="text-decoration-none" href="{{ cat.get_absolute_url }}">{{ cat.nome }}</a></li>
                        {% for sc in cat.categoria_principale.all %}
                        <li> -- <a class="text-decoration-none" href="{{ sc.get_absolute_url }}">{{ sc.nome }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <!--Corpo Centrale-->
    <div class="col-lg-9">
        <!--Categorie Sopra-->
        <div class="row">
            <div class="col-md-6">
                <li class="list-inline-item">
                    <span class="h3 text-dark text-decoration-none mr-3">{% if categoria %}{{categoria}}{% else %}Prodotti{% endif %}</span>
                </li>
                {% comment %} <ul class="list-inline shop-top-menu pb-3 pt-1">
                    <li class="list-inline-item">
                        <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="h3 text-dark text-decoration-none mr-3" href="#">Men's</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="h3 text-dark text-decoration-none" href="#">Women's</a>
                    </li>
                </ul> {% endcomment %}
            </div>
            {% comment %} <div class="col-md-6 pb-4">
                <div class="d-flex">
                    <select class="form-control">
                        <option>Featured</option>
                        <option>A to Z</option>
                        <option>Item</option>
                    </select>
                </div>
            </div> {% endcomment %}
        </div>

        <!--Elenco Prodotti-->
        <div class="row">
            {% for prodotto in prodotti  %}
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img rounded-0 img-fluid" src="{{ prodotto.img_resize.url }}">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="{{ prodotto.get_absolute_url }}"><i class="far fa-eye"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="{{ prodotto.get_absolute_url }}" class="titolo_shop_list">{{ prodotto.nome }}</a>
                        <p>{{ prodotto.descrizione|truncatechars:20|safe }}</p>
                        <p class="text-center mb-0">{{ prodotto.prezzo }}€</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        
        <!--Paginazione-->
        <div div="row">
            <ul class="pagination pagination-lg justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                </li>
            </ul>
        </div>

    </div>

</div>
{% endblock content %}